IDX_POSTGRES_HOST=
IDX_POSTGRES_PORT=
IDX_POSTGRES_DB=
IDX_POSTGRES_USER=
IDX_POSTGRES_PASSWORD=

APP_NAME=
APP_URL=

ISSUER=

# Generate with: openssl rand -hex 32
ENCRYPTION_KEY=
HMAC_SECRET=
IDENTITY_X_KEY_LIFETIME=
ROTATE_KEYS_JOB_DURATION=

ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_LIFETIME=

CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_HEADERS=

DEBUG_MODE=
DISABLE_RATE_LIMIT=
PROFILE_PORT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

# Dev email
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_TLS=
