PAYSSAGE_POSTGRES_HOST=
PAYSSAGE_POSTGRES_PORT=
PAYSSAGE_POSTGRES_DB=
PAYSSAGE_POSTGRES_USER=
PAYSSAGE_POSTGRES_PASSWORD=

APP_NAME=
CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_HEADERS=

IDENTITY_X_PROJECT_ID=
IDENTITY_X_URL=
IDENTITY_X_API_KEY=

MP_CLIENT_ID=
MP_ACCESS_TOKEN=
MP_CLIENT_SECRET=
MP_REDIRECT_URI=
MP_WEBHOOK_SECRET=
MP_TEST_ACCESS_TOKEN=
MP_TEST_PUBLIC_KEY=

TEST_MODE=
PROFILE_PORT=

SIMPLE_AUTH_USER=
SIMPLE_AUTH_PASS=
